.toolbar {
    position: relative;
    width: 100%;
    height: 56px;
    border-bottom: 12px solid #00A9AC;
}

.toolbar::after {
    content: " ";
    background-color: #a7a9aC;
    position: absolute;
    bottom: -17px;
    width: 100%;
    height: 5px;
}

.toolbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
    justify-content: center;
}

/* .toolbar_logo {
    margin-left: 1rem;
}

.toolbar_logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}*/

.toolbar-email .fa-envelope, .toolbar-phone .fa-phone{
    margin: 0 10px; 
    color: #00A9AC;
    font-size: 1.3rem;
}

#toolbarPhoneText,  #toolbarMailText {
    display: none;
    color: #a7a9aC
}




.spacer {
    flex: 1;
} 

.toolbar_navigation-items a{
    color: #00A9AC;
    text-decoration: none;

}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
    color: #a7a9aC;
    font-weight: 700;
}

.toolbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation-items li {
    padding: 0 1rem;
    font-size: 1.2rem;
    text-align: center;
}

.toolbar_navigation-items .other-website-button{
    color: #fa923f;
}

.toolbar_navigation-items .other-website-button:hover{
    color: #222222;
}



@media (min-width: 1231px) {
    .toolbar_toggle-button {
        display: none;
    }
    .spacer {
        display: none;
    }
    .toolbar-email{
        display: none;
    }
    .toolbar-phone {
        display: none;
    }
}

@media (min-width: 766px) and (max-width: 1230px){
    .toolbar_toggle-button {
        display: none;
    }

    .toolbar_navigation-items li {
        padding: 0 0.8rem;
        font-size: 1.1rem;
    }

    .spacer {
        display: none;
    }
    .toolbar-email{
        display: none;
    }
    .toolbar-phone {
        display: none;
    }
}

@media (max-width: 765px) {
    .toolbar_navigation-items {
        display: none
    }

    .toolbar_navigation {
        justify-content: flex-end;
    }
}